@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline-color: white;
}

/* React Calendar */
.react-calendar {
  width: 100% !important;
  height: 100% !important;
  font-family: "Inter", sans-serif !important;
  border: none !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}
