@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Container do Calendário === */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

/* === Navegação === */
.react-calendar__navigation__label {
  font-weight: 600;
}

/* === Tile ativo (data selecionada) === */
.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

/* === React Big Calendar ajustes === */

/* Esconder o grupo de botões esquerdo da toolbar */
.rbc-btn-group:first-child {
  display: none !important;
}

/* Alinha o texto do label da toolbar à direita */
.rbc-toolbar-label {
  text-align: right !important;
  padding: 0 20px !important;
}

/* Estilo do grupo de botões direito */
.rbc-btn-group:last-child {
  font-size: 13px !important;
}

/* Botões do grupo direito */
.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

/* Botão ativo da toolbar */
.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

/* Grade e horários */
.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important; /* esconde a linha de horários no topo */
}

.rbc-time-content {
  border: none !important;
}

/* Fonte e padding dos horários no gutter */
.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0 20px !important;
}

/* Fundo dos blocos de horário */
.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

/* Fonte para os slots de dia */
.rbc-day-slot {
  font-size: 14px !important;
}

/* Eventos do calendário */
.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 500;
}

/* Cores alternadas para os eventos - simplificado e com mais variações */
.rbc-event:nth-child(8n + 1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(8n + 2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(8n + 3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8n + 4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(8n + 5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(8n + 6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(8n + 7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8n + 8) {
  background-color: #fdf2fb !important;
}

/* Texto do label do evento */
.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
  font-weight: 600;
}
